body{
  font-family: 'Montserrat', sans-serif;
}
nav{
  background-color:
  color: white;
  position: absolute;
}

.logo {
  margin-top: 20px;
  margin-left: 30px;
  }

  #logo{
  display: inline-block;
  height: 40px;
  width: 80px;
}

#phone{
  display: inline;
  float: right;
  width: 40%;
}
.info{
  background: linear-gradient(#76278f, #2B1E66);
  color: white;
}
