html{
  font-family: 'Montserrat', sans-serif;
}
nav{

  color: white;
  position: fixed;
  z-index: 1000;
}
header{
  position: relative;
  z-index: auto;
}
video{
  position: relative;
  z-index: -100;
  width: 100%;
  height: 100%;
}

.logo {
  margin-top: 20px;
  margin-left: 30px;
  }

  #logo{
  display: inline-block;
  height: 40px;
  width: 80px;
  margin-top: 20px;

}
.menu{
  text-align: right;
  display: inline-block;
  color: white;
}
.menu a{
  color: white;
  margin: 25px;
}
button{
  border-radius: 5px;
  color: white;
  background: none;
}
#login{
  position: relative;
  margin-right: 20px;
}
.form{
  background-color: white;
  display: inline-block;
  width: 400px;
  height: auto;
  position: absolute;
  margin-left: 900px;
  text-align: left;
}
.form input{
  display: block;
}
#formu{
  display: none;
}
.error{
  display: none;
}
h1, h3{
  color: #352384;
}
#phone{
  display: inline;
  float: right;
  width: 40%;
}
.info{
  background: linear-gradient(#76278f, #2B1E66);
  color: white;
}
